<h2>Reviews</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class = "col-2">Movie</th>
            <th scope="col" class = "col-8">Content</th>
            <th scope="col" class = "col-1"></th>
            <th scope="col" class = "col-1"></th>
        </tr>
    </thead>
    {{#each reviews}}
    <tr scope="row">
        <td>{{this.movie}}</td>
        <td>{{this.content}}</td>
        <td>
            <a class="btn btn-secondary" href="/review/{{this._id}}/edit-url">Edit Review</a>
        </td>
        <td>
            <form action="/review/{{this._id}}/delete-url" method="post">
                <button type="submit" class="btn btn-danger">Delete Review</button>
            </form>
        </td>
    </tr>
    {{/each}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>