<h1>{{title}}</h1>
<hr>
<h4>To initialise the demo version:</h4>
<ol>
    <li>node ./seeds/celebrity.seeds.js</li> 
    <li>Copy id no. of both celebrities and add them in the respective array in movies-data.js</li> 
    <li>node ./seeds/review.seeds.js</li> 
    <li>Copy id no. of both reviews and add them in the respective array in movies-data.js</li> 
    <li>node ./seeds/movie.seeds.js</li> 
    <li>Copy movie's id no. and manually add it to the respective reviews using mongoDB compass</li> 
    <li>Make sure that the new field is called movie and that the final result looks like this</li> 
</ol>

<img class = "index-image" src="https://i.ibb.co/phyCfF3/Example.png" alt="">